button {
    padding: 5px;
    margin: 5px;
}

span {
    color: white;
}



#hourLabelCol {
    padding-right: 20px;
}
#chartCol {
    padding-left: 0px;
}

#navWrapper {
    background-color: #343a40!important;
    
}