<div id="inForms" class="row">
    <div class="col">
        <form>
            <div class="row">
                <div class="col">
                    <h4>Add Entry</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="What did you do?" ng-model="vm.entry.entry">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Project</label>
                    <select class="form-control" ng-model="vm.entry.project_id">
                        <option ng-repeat="project in vm.project.list" value="{{project.id}}">{{project.project_name}}</option>
                    </select>
                </div>
                <div class="col">
                    <label>Date</label>
                    <md-datepicker type="date" class="form-control" ng-model="vm.entry.date"></md-datepicker>
                </div>
                <div class="col">
                    <label>Start Time</label>
                    <input type="time" class="form-control" required ng-model="vm.entry.startTime">
                </div>
                <div class="col">
                    <label>End Time</label>
                    <input type="time" class="form-control" placeholder="HH:MM:SS" required ng-model="vm.entry.endTime">
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-right" ng-click="vm.addEntry(vm.entry)">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div id="table" class="row">
    <div class="col">
        <h4>History</h4>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Entry</th>
                    <th scope="col">Project</th>
                    <th scope="col">Date</th>
                    <th scope="col">Hours</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- <pre>{{vm | json}}</pre> -->
                <tr ng-repeat="entry in vm.history.list">
                    <td>
                        <input type="text" ng-model="entry.entry">
                    </td>
                    <td ng-if="!entry.edit">
                        <input type="text" ng-model="entry.project_name">
                    </td>
                    <td ng-if="entry.edit">
                        <select ng-model="vm.entry.project_id">
                            <option ng-repeat="project in vm.project.list" value="{{project.id}}">{{project.project_name}}</option>
                        </select>
                    </td>

                    <td>
                        <md-datepicker type="text" ng-model="entry.date" ng-value="entry.date | date: MM-dd-yyyy"></md-datepicker>
                    </td>
                    <td>
                        <input type="text" ng-model="entry.hour">
                    </td>

                    <td>
                        <div ng-if="!entry.edit">
                            <button class="btn btn-info" ng-click="vm.editMode(entry)">Edit</button>
                            <button class="btn btn-danger" ng-click="vm.deleteEntry(entry)">Delete</button>
                        </div>
                        <div ng-if="entry.edit">
                            <button class="btn btn-warning" ng-click="vm.cancelEditMode(entry)">Cancel</button>
                            <button class="btn btn-primary" ng-click="vm.saveHistory(entry)">Save</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

