<div class="row">
    <div class="col">
        <h2>Add Project</h2>
        <form>
            <input class="form-control" type="text" placeholder="Project Name" ng-model="vm.project.project_name">
            <button class="btn btn-primary float-right" ng-click="vm.addProject(vm.project)">Submit</button>
        </form>
    </div>
</div>

<h2>Projects</h2>

<div id="table" class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr ng-repeat="project in vm.projectList.list">
                        <th scope="col">Project</th>
                        <th scope="col">Total Hours</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>