<div class="row">
    <div class="col">
        <h4>Add Project</h4>
        <form>
            <input class="form-control" type="text" placeholder="Project Name" ng-model="vm.project.project_name">
            <button class="btn btn-primary float-right" ng-click="vm.addProject(vm.project)">Submit</button>
        </form>
    </div>
</div>

<h4>Projects</h4>

<div id="table" class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Project</th>
                    <th scope="col">Total Hours</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <div class="row">
                <div class="col">
                    <tbody>
                        <div>
                            <tr ng-repeat="project in vm.projectList.list">

                                <td><input type="text" ng-model="project.project_name"></td>
                                <td><input type="text" ng-model="project.project_name"></td>
                                <td>
                                    <button class="btn btn-info" ng-click="vm.editMode(project)" ng-hide="project.edit">Edit</button>
                                    <button class="btn btn-warning" ng-click="vm.cancelEditMode(project)" ng-show="project.edit">Cancel</button>
                                    <button class="btn btn-primary" ng-click="vm.saveProject(project)" ng-show="project.edit">Save</button>
                                    <button class="btn btn-danger" ng-click="vm.deleteProject(project)" ng-if="!project.edit">Delete</button>
                                </td>

                            </tr>

                        </div>
                    </tbody>
                </div>
            </div>
        </table>
    </div>
</div>

