<div class="row">
    <div class="col">
        <center>
            <h2><b>Report</b></h2>
        </center>
    </div>
</div>

<div class="row">

    <div class="col-auto" id="hourLabelCol">
        <br />
        <br />
        <br />
        <br />
        <br />
            
        <h6 id="tilted_header">
            H
        </h6>
        <h6 id="tilted_header">
            O
        </h6>
        <h6 id="tilted_header">
            U
        </h6>
        <h6 id="tilted_header">
            R
        </h6>
        <h6 id="tilted_header">
            S
        </h6>
        


    </div>
    <div class="col-sm-10" id="chartCol">
        <canvas id="bar" class="chart chart-bar" chart-data="vm.data" chart-labels="vm.labels" chart-series="vm.series" xAxisID="Projects"
            yAxisID="Hours">
        </canvas>
    </div>


</div>

<div class="row">
    <div class="col">
        <center>
            <h6>Projects</h6>
        </center>
    </div>
</div>